{%  extends 'base.html.twig' %}

{% block body %}

    <section>
        <!-- ETAPE 2: Afficher un SEUL article sans comment  -->
        <article>
            <p>
                {% if annonce.photo is defined  %}
                    {% dump(annonce.photo) %}
                    <img src="{{ asset('uploads/photos/' ~ annonce.photo) }}" class="img-fluid" alt="image">
                {% endif %}
            </p>

            <h3>Annonce   : {{ annonce.title }}</h3>
            <h5>Categorie : {{ annonce.category.title }}</h5>

            <p>
                {{ annonce.announcementContent }}
            </p>
            <h4 style="color: #C82829">Prix      : {{ annonce.price  }}</h4>
            <p>
                Le : {{ annonce.createdAt | date('d/m/Y') }}
            </p>
        </article>

    </section>

{% endblock %}