{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER')%}
        <div class="text-right mb-2">
            <a href="{{ path('announcement-create') }}" class="btn btn-primary">
                Nouvelle annonce
            </a>
        </div>
    {% endif %}

    <table class="table table-striped table-bordered">
        <tr>
            <th>Annonce</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Date de publication</th>
            <th>Auteur</th>
        </tr>

        {% for announcement in announcementList %}
            <tr>
                <td>
                    <a href="{{ path('announcement-details', {'id': announcement.id}) }}">{{ announcement.getTitle }}</a>
                </td>
                <td>{{ announcement.category.title }}</td>
                <td>{{ announcement.price }}</td>
                <td>{{ announcement.createdAt | date('d/m/Y') }}</td>
                <td>{{ announcement.author.email }}</td>
            </tr>
        {% endfor %}

    </table>

    {{ knp_pagination_render(announcementList) }}

{% endblock %}

