<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-offset">
    <a class="navbar-brand" href="#">Site d'annonce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <button class="btn btn-outline-warning" type="button">
                    <a class="nav-link" href="{{ path('announcement-list') }}">Liste des annonces <span class="sr-only">(current)</span></a>
                </button>
            </li>

            {% if is_granted('ROLE_USER')%}
                <li class="nav-item">
                    <button class="btn btn-outline-success" type="button">
                        <a href="{{ path('announcement-create')}}" class="nav-link">Création nouvelle annonce</a>
                    </button>
                </li>
            {% endif %}


            <li class="nav-item">
                <button class="btn btn-outline-info" type="button">
                    <a href="{{ path('user-insciption')}}" class="nav-link">Inscription</a>
                </button>
            </li>

            {% if app.user.username is defined %}
                <li class="nav-item navbar-text">
                    <button class="btn btn-outline" type="button">
                        <!-- jappelle la methode getusername-->
                        {{ app.user.username }}
                    </button>
                </li>

                <li class="nav-item">
                    <button class="btn btn-outline-danger" type="button">
                        <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                    </button>
                </li>
            {% else %}
                <li class="nav-item">
                    <button class="btn btn-outline-danger" type="button">
                        <a href="{{ path('security-login')}}" class="nav-link">Login</a>
                    </button>
                </li>
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>